/*Demo styles*/
.swipe-block {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  overflow: hidden;
  background-color: #d8e6ec; }

.th01 {
  background-color: #2e93ba; }

.th02 {
  background-color: #42BA6C; }

.th03 {
  background-color: #BA9237; }

.th04 {
  background-color: #BA4972; }

.double-width.block {
  width: 1000px; }

.block {
  margin-right: 10px;
  width: 500px;
  height: 250px;
  float: left;
  text-align: center; }
  .block:last-child {
    margin-right: 0; }

.block span {
  color: #fff;
  font-size: 32px;
  line-height: 250px; }

.swipe-methods-block {
  text-align: center;
  margin-top: 40px; }

button.mtd {
  background-color: transparent;
  border: 1px solid #2e93ba;
  font-size: 16px;
  width: 100px;
  height: 45px;
  margin: 0 5px; }

/*vmSwipe styles*/
.vm-swipe {
  overflow: hidden; }

.vm-swipe.moving {
  cursor: move; }

.vm-swipe-inner {
  position: relative;
  overflow: hidden; }
