/*Demo styles*/
.swipe-block {
  padding: 10px;
  width: 450px;
  height: 220px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #d8e6ec; }

.v-swipe .swipe-block {
  height: 300px; }

.th01 {
  background-color: #2e93ba; }

.th02 {
  background-color: #42BA6C; }

.th03 {
  background-color: #BA9237; }

.th04 {
  background-color: #BA4972; }

.double-width.block {
  width: 1000px; }

.block {
  margin-right: 10px;
  width: 430px;
  height: 200px;
  float: left;
  text-align: center; }
  .block:last-child {
    margin-right: 0; }

.v-swipe .block {
  margin: 0 0 10px 0;
  width: 100%;
  height: 300px;
  float: none; }
  .v-swipe .block:last-child {
    margin-bottom: 0; }

.block span {
  color: #fff;
  font-size: 30px;
  line-height: 200px; }

button.mtd {
  font-size: 14px;
  width: 105px;
  height: 40px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.25s; }
  button.mtd:last-child {
    margin-right: 0; }

button.mtd-th1 {
  background-color: transparent;
  border: 1px solid #2e93ba;
  color: #227899; }

button.mtd-th1:hover {
  background-color: #2e93ba;
  color: #e8eef0;
  box-shadow: 0 0 10px 1px rgba(20, 67, 86, 0.62); }

button.mtd-th2 {
  background-color: transparent;
  border: 1px solid #3fac65;
  color: #31814d; }

button.mtd-th2:hover {
  background-color: #42ba6c;
  color: #e8eef0;
  box-shadow: 0 0 10px 1px rgba(36, 86, 20, 0.62); }

button[disabled], button[disabled]:hover {
  background-color: #e8e8e8;
  border: 1px solid #c3c1c1;
  color: #b0b0b0;
  box-shadow: none;
  cursor: default; }

.info-block {
  margin-bottom: 34px;
  padding-bottom: 39px;
  border-bottom: 1px solid #eaeaea; }
  .info-block:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }

.info-block-inner-wrapper {
  position: relative; }

.info-block-header {
  margin-bottom: 10px;
  width: 100%;
  color: #b4b4b4;
  font-size: 20px;
  text-transform: uppercase; }

.controls-block {
  margin: 0 auto; }

.link {
  color: #FFFFFF; }

.h2 {
  margin: 25px 0 15px;
  font-size: 26px;
  color: #b4b4b4;
  text-transform: uppercase; }

.example-block {
  margin: 0 auto;
  width: 50%; }
  .example-block .example-block-content {
    overflow: hidden; }
    .example-block .example-block-content > * {
      width: 50%;
      float: left;
      box-sizing: border-box; }
    .example-block .example-block-content .example-block-right {
      padding-left: 40px; }

/* Media */
@media (max-width: 1700px) {
  .swipe-block {
    width: 100%; }
  /*button.mtd
    display: block
    width: 90%
    margin: 0 auto 15px
    &:last-child
      margin-bottom: 0*/ }

@media (max-width: 1510px) {
  .example-block .example-block-content > * {
    width: 100%; }
  .example-block .example-block-content .example-block-right {
    margin-top: 30px;
    padding-left: 0; } }

@media (max-width: 768px) {
  button.mtd {
    width: 100%;
    margin-bottom: 15px; }
    button.mtd:last-child {
      margin-bottom: 0; } }
